# Никогда не заливать в GitHub!
.env
.env.local
.env.production
backend/.env
alembic/.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Node
node_modules/
.next/

# Uploads (пользовательские файлы)
backend/uploads/

# OS
.DS_Store
Thumbs.db